@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #1d3812;
  --secondary-color: #e9c675;
  --text-dark: #0a1e27;
  --text-light: #cbd5e1;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.empty-box {
  width: 100%; 
  height: 30px; 
}
.header{
  padding: 1em;
  padding-right: 5em;
}
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 1rem;
}

.section__subheader {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-left: 5rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--secondary-color);
}

.section__subheader::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 4rem;
  background-color: var(--secondary-color);
}

.section__subheader::after {
  position: absolute;
  top: 250%;
  left: 0;
  transform: translate(-60%, -50%);
  font-size: 8rem;
  font-weight: 600;
  color: var(--white);
  opacity: 0.1;
  z-index: -1;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.footer_socialmedia h4{
  padding: 5px;
  color: var(--secondary-color);
}

.footer_socialmedia2 img{
  width:fit-content;
  height: 2.5em;
  padding: 7px;
}

.footer_socialmedia2 li{
  color: var(--white);
}
.btn:hover {
  background-color: rgba(10, 30, 39, 0.5);
}

.logo a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

.header {
  position: relative;
  height: 100vh;
}

.header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 15rem);
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
  }

nav {
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  z-index: 9;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  position: absolute;
  right: 1rem;
  top: 68px;
  width: calc(100% - 2rem);
  max-width: 350px;
  padding: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(10, 30, 39, 0.8);
  border-radius: 10px;
  display: none;
}

.nav__links.open {
  display: flex;
  animation: show-nav 0.3s linear forwards;
}

.nav__links.close {
  animation: hide-nav 0.3s linear forwards;
}

.presentacion {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 3rem 1rem;
}

.presentacion__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.presentacion__image img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 10px;
}

.presentacion__content {
  max-width: 600px;
}

.presentacion__content .section__header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.presentacion__content p {
  color: var(--white);
  font-size: 1.1rem;
  line-height: 1.6;
}
/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .presentacion__container {
    flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
    align-items: center;
  }

  .presentacion__content .section__header {
    font-size: 2rem; /* Reduce el tamaño de la cabecera */
  }

  .presentacion__content p {
    font-size: 1rem; /* Ajusta el tamaño del texto en dispositivos móviles */
  }
}

@media (max-width: 480px) {
  .presentacion {
    padding: 2rem 1rem;
  }

  .presentacion__content .section__header {
    font-size: 1.8rem; /* Ajusta el tamaño del encabezado para pantallas muy pequeñas */
  }

  .presentacion__content p {
    font-size: 0.95rem; /* Ajusta el tamaño del texto para pantallas pequeñas */
  }
}

@keyframes show-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-nav {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
}

.nav__links a:hover {
  color: var(--secondary-color);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__action__btn {
  display: none;
}

.header__container {
  position: relative;
  isolation: isolate;
  height: calc(100% - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  max-width: 700px;
}

.header__content .section__header {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
}

.header__content a {
  color: var(--white);
}

.header__content a:hover {
  color: var(--secondary-color);
}

.header__socials {
  position: absolute;
  left: 0;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  transform: translateX(calc(-50% + 1rem)) rotate(90deg);
  display: none;
}

.header__socials a {
  font-size: 1.2rem;
  color: var(--white);
  transform: rotate(-90deg);
}

.header__socials a:hover {
  color: var(--secondary-color);
}
.nosotros{
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;

}
.servicios {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--primary-color) 8rem
  );
  overflow: hidden;
}

.about__container {
  padding-top: 0;
  display: grid;
  gap: 5rem 2rem;
  overflow: hidden;
}

.about__container2 {
  padding-top: 0;
  gap: 5rem 2rem;
  overflow: hidden;
}

.about__image img {
  max-width: 400px;
  margin-inline: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}
.about__image2 img {
  max-width: 800px;
  margin-inline: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.about__content-1 .section__subheader::after {
  content: "01";
}

.about__content-2 .section__subheader::after {
  content: "02";
}

.about__content-3 .section__subheader::after {
  content: "03";
}

.about__content-4 .section__subheader::after {
  content: "04";
}

.about__content-5 .section__subheader::after {
  content: "05";
}

.about__content p {
  margin-bottom: 1.5rem;
  color: var(--text-light);
}

.about__content a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-color);
}

.about__content a span {
  transition: 0.3s;
}

.about__content a:hover span {
  transform: translateX(10px);
}

.footer {
  background-color: var(--primary-color);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__col:first-child {
  max-width: 300px;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__col p {
  color: var(--text-light);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__links li {
  color: var(--text-light);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

.testimonios {
  background-color: var(--primary-color);
  color: var(--white);
}

.preguntas{
  background-color: var(--primary-color);
  color: var(--white);
}

.contacto{
  background-color: var(--primary-color);
}

.testimonios__container {
  max-width: var(--max-width);
  margin: auto;
}

.testimonios__header {
  margin-bottom: 2rem;
}

.preguntas__header {
  margin-bottom: 2rem;
}

.testimonios__slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 2rem;
  padding: 2rem 0;
}

.testimonios__slide {
  flex: 0 0 80%;
  scroll-snap-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.testimonios__content {
  margin-bottom: 1rem;
  text-align: center;
}

.testimonios__content p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-light);
}

.testimonios__content h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.testimonios__content span {
  font-size: 0.9rem;
  text-align: center;
  color: var(--text-light);
}

.preguntas__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 1rem;
}

.faq-list {
  margin-top: 2rem;
  color: var(--text-light);
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-question h3 {
  font-size: 1.2rem;
  color: var(--white);
  margin: 0;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-answer p {
  font-size: 1rem;
  color: var(--white);
  margin-top: 1rem;
  line-height: 1.5;
}

.faq-icon {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.faq-item.active .faq-answer {
  max-height: 200px;
  transition: max-height 0.5s ease;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.contact_us_section {
  background-color: var(--white);
  padding: 40px;
  border-radius: 10px;
  max-width: 800px;
  margin: 50px auto; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  color: var(--primary-color); 
}

.contact_info {
  text-align: center;
  margin-bottom: 30px;
}

.contact_title {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact_details {
  font-size: 16px;
}

.contact_details p {
  margin: 10px 0;
}

.contact_details i {
  margin-right: 10px;
}

.input_container {
  margin-bottom: 15px; 
}

.contact_label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
  color: var(--primary-color); 
}

.contact_input, .contact_textarea {
  width: 100%;
  padding: 12px;
  margin: 5px 0 10px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  transition: border-color 0.2s ease; 
}

.contact_input:focus, .contact_textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.contact_textarea {
  height: 100px; 
  resize: none; 
}

.contact_button {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.contact_button:hover {
  background-color: #c0b8bb; 
}

.contact_response {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: var(--primary-color); 
}

@media (width > 768px) {
  .nav__logo {
    flex: 1;
  }

  .nav__links {
    position: static;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__action__btn {
    justify-content: flex-end;
    display: flex;
    flex: 1;
  }

  .header__container {
    height: calc(100% - 10rem);
  }

  .header__socials {
    display: flex;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10rem 2rem;
  }

  .about__image-1 {
    grid-area: 1/2/2/3;
  }

  .about__image-3 {
    grid-area: 3/2/4/3;
  }

  .about__content {
    margin-left: 6rem;
  }

  .footer__container {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .testimonios__slide {
    flex: 0 0 45%;
  }
}